@btech:registry=https://pkgs.dev.azure.com/buma/_packaging/btech/npm/registry/
//pkgs.dev.azure.com/buma/_packaging/btech/npm/registry/:_authToken=${NODE_AUTH_TOKEN}
//pkgs.dev.azure.com/buma/_packaging/btech/npm/:_authToken=${NODE_AUTH_TOKEN}
