@btech:registry=https://buma.pkgs.visualstudio.com/_packaging/btech/npm/registry/
//buma.pkgs.visualstudio.com/_packaging/btech/npm/registry/:_authToken=${NODE_AUTH_TOKEN}
//buma.pkgs.visualstudio.com/_packaging/btech/npm/:_authToken=${NODE_AUTH_TOKEN}
always-auth=true
